
<div class="row justify-content-center">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-dark">
        <h3> Adding New Place </h3>

        <form (ngSubmit)="createSubmit()">
            <div></div>
            <div class="form-group">
                <label class="control-label">Enter Place Name</label>
                <input class="form-control" placeholder="Enter Place Name" name="placeName" [(ngModel)]="createPlace.placeName" />
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>