<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Booking Time</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Pickup Address</th>
        <th scope="col">Landmark</th>
        <th scope="col">Pickup Date</th>
        <th scope="col">Pickup Time</th>
        <th scope="col">CabTypeName</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Status</th>
        <th scope="col">Completion Time</th>
        <th scope="col">Charge</th>
        <th scope="col">Feedback</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{bookingHists.id}}</th>
        <td>{{bookingHists.email}}</td>
        <td>{{bookingHists.bookingDate}}</td>
        <td>{{bookingHists.bookingTime}}</td>
        <td>{{bookingHists.fromPlaceName}}</td>
        <td>{{bookingHists.toPlaceName}}</td>
        <td>{{bookingHists.pickupAddress}}</td>
        <td>{{bookingHists.landmark}}</td>
        <td>{{bookingHists.pickupDate}}</td>
        <td>{{bookingHists.pickupTime}}</td>
        <td>{{bookingHists.cabTypeName}}</td>
        <td>{{bookingHists.contactNo}}</td>
        <td>{{bookingHists.status}}</td>
        <td>{{bookingHists.comp_time}}</td>
        <td>{{bookingHists.charge}}</td>
        <td>{{bookingHists.feedback}}</td>
      </tr>
    </tbody>
  </table>