
<div class="row justify-content-center">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 text-dark">
        <h3> Updating Booking </h3>

        <form (ngSubmit)="updateSubmit()">
            <div></div>
            <div class="form-group">
                <label class="control-label">Enter Booking Id</label>
                <input class="form-control" name="id" [(ngModel)]="updateBooking.id" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Email</label>
                <input class="form-control" name="email" [(ngModel)]="updateBooking.email" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Booking Date</label>
                <input type="date" class="form-control" name="bookingDate" [(ngModel)]="updateBooking.bookingDate" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Booking Time</label>
                <input class="form-control" name="bookingTime" [(ngModel)]="updateBooking.bookingTime" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter From Place Id</label>
                <input class="form-control" name="fromPlace" [(ngModel)]="updateBooking.fromPlace" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter To Place Id</label>
                <input class="form-control" name="toPlace" [(ngModel)]="updateBooking.toPlace" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Pick-up Address</label>
                <input class="form-control" name="pickupAddress" [(ngModel)]="updateBooking.pickupAddress" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Landmark</label>
                <input class="form-control" name="landmark" [(ngModel)]="updateBooking.landmark" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Pick-up Date</label>
                <input type="date" class="form-control" name="pickupDate" [(ngModel)]="updateBooking.pickupDate" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter CabType Id</label>
                <input class="form-control" name="cabTypeId" [(ngModel)]="updateBooking.cabTypeId" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Contact Number</label>
                <input class="form-control" name="contactNo" [(ngModel)]="updateBooking.contactNo" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Enter Status</label>
                <input class="form-control" name="status" [(ngModel)]="updateBooking.status" />
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>